
.wpi-Waiting {
    pointer-events: none !important;
    display: none !important;
}

.wpi-Waiting-message {
    font-size: 1em;
    position: relative;
    display: inline-block;
    background-color: white;
    color: black;
    pointer-events: none;
}